<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.j1.marblerye">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/marblerye_launcher9"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/marblerye_launcher9_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReadDBActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NewExpenseInput"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EditExpenseActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ViewHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailedExpenseHistoryActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>